<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="reg_prod" connectionString="Data Source=A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net;Integrated Security=False;User ID=dataManager;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=p@ssw0rdm@n@g3r1; initial catalog=dataManager;"/>
    <add name="reg" connectionString="Data Source=D5DRDRQ2\SQLEXPRESS;initial catalog=dataManager;packet size=4096;integrated security=SSPI;User ID=dataManager; Password=p@ssw0rdm@n@g3r1; initial catalog=dataManager; persist security info=False;MultipleActiveResultSets=True; Trusted_Connection=True"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
    <trust level="Full"/>
    <customErrors mode="Off"/>
    <identity impersonate="false"/>
    <compilation defaultLanguage="CS" targetFramework="4.5" debug="true" numRecompilesBeforeAppRestart="15">
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1"/>
        <compiler language="js;jscript;javascript" extension=".js" type="Microsoft.JScript.JScriptCodeProvider, Microsoft.JScript, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </compilers>
    </compilation>
    <!-- <globalization uiCulture="de" culture="en-IE" /> -->
    <globalization uiCulture="en" culture="en-AU"/>
  </system.web>
  <appSettings>
    <add key="orgid" value="270"/>
    <add key="orgid_day" value="270"/>
    <add key="orgid_fdn" value="7270"/>
  </appSettings>
</configuration>